  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
            <%= render "email_captures/form", email_capture: @email_capture %>
        </div>
      </div>
    </div>
  </div>