<h1>Editing email capture</h1>

<%= render "form", email_capture: @email_capture %>

<br>

<div>
  <%= link_to "Show this email capture", @email_capture %> |
  <%= link_to "Back to email captures", email_captures_path %>
</div>
