<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h1><%= @book_collection.name %></h1>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> <%= @book_collection.name %></p>
          <!-- Add more details as necessary -->
        </div>
      </div>
    </div>
  </div>
</div>
