<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow"> <!-- Added shadow class here -->
        <div class="card-body">
          <h1 class="card-title text-center">AI Models</h1>
          <ul class="list-group">
            <% @ai_models.each do |ai_model| %>
              <li class="list-group-item">
                <%= link_to ai_model.name, ai_model_path(ai_model), class: "text-decoration-none" %>
              </li>
            <% end %>
          </ul>
          <%= link_to 'New AI Model', new_ai_model_path, class: "btn btn-outline-primary d-block mx-auto my-4" %>
        </div>
      </div>
    </div>
  </div>
</div>
