<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">Create Ai Model</h1>
            <%= render 'form', ai_model: @ai_model %>
        </div>
      </div>
    </div>
  </div>
</div>