          <div class="header">
            <h1>Edit Category</h1>
          </div>

      <div class="card">
        <div class="card-body">
          <%= render 'form', category: @category %>
        </div>
      </div>

