// Styling that is used across more than one controller or model

// Styles image to gray when hovered
.image-link {
    background-color: grey;
    display: inline-block;
        
    img.clickable-image {
        transition: opacity 0.3s ease;
            
        &:hover {
            opacity: 0.7;
        }
    }
}

// Custom Gray background
.custom-gray-bg {
    background-color: #eee; 
}
