<div class="chat-sessions">
  <h1>All Chat Sessions</h1>
  <%= link_to 'New Chat Session', new_chat_session_path, class: 'btn btn-primary mb-3' %>
  <div class="list-group">
    <% @chat_sessions.each do |chat_session| %>
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to (chat_session.session_name.presence || "Chat Session #{chat_session.id}"), chat_session_path(chat_session), class: "list-group-item-action" %>
        <%= button_to 'Delete', chat_session_path(chat_session), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
