<div class="mt-5 row justify-content-center">
  <div class="col-lg-10">
    <h1 class="mb-4"><%= @author.name.titleize %> Books</h1>
    <div class="row">
      <%= render partial: 'shared/book_series', locals: { books: @author_books }%>
    </div>
  </div>
</div>

