
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header">
          <h4>New Section for <%= @book.title %></h4>
        </div>
        <div class="card-body">
          <%= render 'form', book_section: @book_section %>
        </div>
      </div>
    </div>
  </div>
</div>
