<div class="row tile-post"> <!-- Nested row for each post's content with the added class -->

    <div class="col-md-6"> <!-- Image column (left) -->
        <%= link_to post_path(post), class: "image-link" do %>
            <%= image_tag post.main_image, alt: post.main_image_alt_text, class: "img-fluid clickable-image title-post__image" %>
        <% end %>
    </div>

    <div class="col-md-6"> <!-- Text column (right) -->
        <h3 class="tile-post__title"><%= link_to post.title, post_path(post), class: "tile-post__title-link" %></h3>
    
    </div>

</div>