// Styles the post show pages

// POST WIDE STYLING
.post-header {
    // styles the standard header for post views
    margin-top: 3rem;
    padding-bottom: 2rem;

    .post-header__title {
        //styles the title
    }
}

// Flag ship post
.featured-post {
    // Styles featured post
    .featured-post__image {
        // Styles the image
    }

    .featured-post__title {
        // Featured post title    
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .featured-post__title-link {
        // Styles the title link
        color: inherit;
        text-decoration: none;
    
    }

    .featured-post__description {
        // Styles the description
    }

}

// tile posts, this are the smaller tiled posts e.g. latest posts
.tile-post {
    // Styles the post
    margin-bottom: 2rem;
    
    .tile-post__image {
        // Style image
    }

    .tile-post__title {
        // Style title
    }

    .tile-post__title-link {
        // Styles the title link
        color: inherit;
        text-decoration: none;
    }

    .tile-post__description {
        // Style description
    }

} 

// STYLES THE POST FORM
.post-form {
    // Styles the post form
    
    .post-form__input-label {
        // Styles post input label
        font-size: 1.25rem;
        margin-top: 2rem;
    }

    .post_form__input-description {
        // Styles the input description
        font-size: 1rem;
        color: $seacrow-grey;
    }

    .post_form__input {
        // stlyes the input element
    }

    .post_form__button {
        // Styles buttons
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

// STYLES THE SHOW PAGE
.post-show__main-image {
    // styles the main image section
    margin-bottom: 3rem;
}

.post-show__title {
    // Styles the title 
    margin-bottom: 1rem;
}

.post-show__metadata {
    // Styles the metadata 
    margin-bottom: 0.5rem;
}

.post-show__metadata-persona-link {
    // Styles the persona link
    text-decoration: none;
    color: inherit;
}

.post-show__metadata-edit-link {
    // Styles the edit link
    text-decoration: none;
    color: inherit;
}

.post-show__categories {
    // Styles the categories
    @include gray-link-formatting;
    margin-bottom: 1rem; 
}

.post-show__alert {
    // Styles the alerts in a post
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table-of-contents {
    @include table-of-contents;
}

.post-show__article {
    // styles article

    h2, h3, h4, h5, h6 {
        margin-top: 2rem;
    }

    .post-show__sub-title {
        // Styles the subtitles
        text-transform: capitalize;
    }

    .post-show__media {
        // styles post images and media
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    blockquote {@include blockquote;}

    .faq {@include faq;}
}



// STYLES THE INDEX PAGE

.tile-post__sub-title {
    // Styles sub-title
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $seacrow-grey; 
}
