<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <article>

            <h1 class="mt-4 mb-4">About SeaCrow Books</h1>

            <p>Drawing inspiration from Liverpool's iconic Liver Birds, often reminiscent of the cormorant or "SeaCrow," our publishing house is an ode to this city's rich tapestry of culture, history, and forward-thinking spirit. Established in 2023, SeaCrow Books stands as a testament to the city's enduring love for stories, art, and innovation.</p>

            <p class="lead">The Digital Revolution and Our Commitment</p>
            <p>In an ever-evolving world, being adaptive is key. SeaCrow Books, with its digital-first approach, ensures that readers from every corner of the globe can access and enjoy our tales. This approach is not just about keeping up with the times; it's about leading, innovating, and redefining the publishing landscape.</p>

            <p class="lead">The Soul of SeaCrow: Quality Writing</p>
            <p>While we are pioneers in digital delivery, the essence of our brand lies in the power of storytelling. Our focus on spicy romance provides a platform for voices that delve deep into human emotions, desires, and intricate relationships, mirroring the complexity and beauty of our very nature.</p>

            <p class="lead">A Fusion of Old and New</p>
            <p>Much like Liverpool itself—a city that beautifully marries its storied past with modern vibrancy—SeaCrow Books brings together the charm of traditional storytelling with the convenience and reach of today's digital age.</p>

            <p class="lead">Gary Smailes: The Pillar of SeaCrow Books</p>
            <p>At the forefront of our venture is Gary Smailes, a luminary with over two decades of literary experience. As both a seasoned writer and an adept editor, Gary's dedication to the craft and the industry is unwavering. Beyond SeaCrow Books, he's also the force behind the renowned editorial company, <a href="http://bubblecow.com" target="_blank">BubbleCow</a>.</p>

        </article>
    </div>
</div>