<div class="mt-5 row justify-content-center">
    <div class="col-lg-10">

        <!-- Featured books -->
        <div class="row">
            <% @featured_books.each do |book| %>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
                    <%= link_to publishing_book_path(book) do %>
                        <div class="image-link">
                            <%= image_tag book.cover, alt: "#{book.title} cover", class: "img-fluid clickable-image" %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>

    </div>
</div>

<!-- Second row with same width as first -->
<div class="mt-5 row justify-content-center">
    <div class="col-lg-10">

        <!-- Two-column layout -->
        <div class="row">

            <!-- Left column: Latest Posts -->

                <h1 class="home-page__sub-title">Latest Articles</h1>

                <!-- Row for Latest Posts Cards -->
                <%= render partial: 'shared/latest_posts', locals: { posts: @latest_posts }%>

        </div>

    </div>
</div>
