<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <article class="page">

            <h1 class="page__title">Privacy Policy</h1>

            <p>This privacy notice tells you what to expect when SeaCrow Books collects personal information.</p>

            <p>This policy applies to information we collect about:</p>
            <ul>
            <li>Visitors to our website.</li>
            <li>People who use our services, e.g., sign up to our newsletter, create an online account, and apply for or use our services.</li>
            </ul>

            <p>SeaCrow Books will never share your data with third parties for marketing purposes without your consent.</p>

            <p>SeaCrow Books is committed to safeguarding the privacy of our website visitors, and the privacy of writers using our services.</p>

            <h2>How We Use Your Personal Data</h2>

            <h3>Usage Data</h3>
            <p>We may process data about your use of our website and services (this is called "usage data"). To capture this usage data, we use Google Analytics. This usage data may be processed for the purposes of analysing the use of the website and services.</p>

            <h3>Service Data</h3>
            <p>We may process your personal data that you provide in the course of an enquiry about, application for, or use of, our services ("service data"). The service data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you.</p>

            <h3>Publication Data</h3>
            <p>We may process information that you provide for publication on our website or through our services ("publication data"). The publication data may be processed for the purposes of enabling such publication and administering our website and services.</p>

            <h3>Transaction Data</h3>
            <p>We may process information relating to transactions, including purchases of goods and services, that you enter into with us and/or through our website ("transaction data"). The transaction data may be processed for the purpose of supplying the purchased goods and services and keeping proper records of those transactions.</p>

            <h3>Notification Data</h3>
            <p>We may process information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters ("notification data"). For this purpose, we use a well-known third-party supplier ActiveCampaign. The notification data may be processed for the purposes of sending you the relevant notifications and/or newsletters.</p>

            <h2>Providing Your Personal Data To Others</h2>
            <p>We do not share personal data with any third parties for marketing purposes or for any reasons beyond those reasonably necessary for us to conduct our business and provide our services.</p>

            <h2>Retaining And Deleting Personal Data</h2>
            <p>We will retain your personal data in order to administer your account and to provide the products and services you have requested from us.</p>

            <h2>Your Rights</h2>
            <p>Under the Data Protection Act 1998, you have rights as an individual which you can exercise in relation to the information we hold about you. You can read more about these rights <a href="https://ico.org.uk/your-data-matters/">here</a>.</p>

            <h2>Complaints Or Queries</h2>
            <p>SeaCrow Books aims to meet the highest standards when collecting and using personal information. We encourage writers using SeaCrow Books’ services to bring it to our attention if they feel that our collection or use of information is unfair, misleading or inappropriate.</p>

            <h2>Access To Personal Information</h2>
            <p>You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to: the supply of appropriate evidence of your identity.</p>

            <p>If we do hold information about you we will:</p>
            <ul>
            <li>give you a description of it;</li>
            <li>tell you why we are holding it;</li>
            <li>tell you who it could be disclosed to; and</li>
            <li>let you have a copy of the information in an intelligible form.</li>
            </ul>

          
        </article>
    </div>
</div>