<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <article class="page">

            <h1 class="page__title">Trigger Support</h1>

            <p>We recognize the impact that the intense themes explored in our book can have on readers. To support those who may need assistance, we have compiled a list of US and UK resources designed to provide support and guidance.</p>

            <h2>Mental Health Support</h2>
            <h3>US:</h3>
            <ul>
                <li><a href="https://www.nami.org" target="_blank">National Alliance on Mental Illness (NAMI)</a> - Access support, resources, and information at 1-800-950-NAMI.</li>
                <li><a href="https://www.mhanational.org" target="_blank">Mental Health America</a> - Find tools and resources.</li>
            </ul>
            <h3>UK:</h3>
            <ul>
                <li><a href="https://www.mind.org.uk" target="_blank">Mind</a> - For information and support, call 0300 123 3393.</li>
                <li><a href="http://www.sane.org.uk" target="_blank">SANE</a> - Access emotional support, information, and guidance at 0300 304 7000.</li>
            </ul>

            <h2>Support for Survivors of Sexual Violence</h2>
            <h3>US:</h3>
            <ul>
                <li><a href="https://www.rainn.org" target="_blank">Rape, Abuse & Incest National Network (RAINN)</a> - National Sexual Assault Hotline, 1-800-656-HOPE.</li>
            </ul>
            <h3>UK:</h3>
            <ul>
                <li><a href="https://rapecrisis.org.uk" target="_blank">Rape Crisis England & Wales</a> - For confidential support and information, call 0808 802 9999.</li>
                <li><a href="https://www.survivorsuk.org" target="_blank">Survivors UK</a> - Web chat support for men and boys.</li>
            </ul>

            <h2>Domestic Violence Resources</h2>
            <h3>US:</h3>
            <ul>
                <li><a href="https://www.thehotline.org" target="_blank">National Domestic Violence Hotline</a> - Call 1-800-799-SAFE.</li>
            </ul>
            <h3>UK:</h3>
            <ul>
                <li><a href="https://www.refuge.org.uk" target="_blank">Refuge</a> - National Domestic Abuse Helpline, call 0808 2000 247.</li>
            </ul>

            <h2>Substance Abuse and Addiction</h2>
            <h3>US:</h3>
            <ul>
                <li><a href="https://www.samhsa.gov" target="_blank">SAMHSA</a> - Substance Abuse and Mental Health Services Administration Helpline, 1-800-662-HELP.</li>
            </ul>
            <h3>UK:</h3>
            <ul>
                <li><a href="https://www.nhs.uk/live-well/healthy-body/drug-addiction-getting-help/" target="_blank">NHS</a> - Find services for drug addiction support.</li>
                <li><a href="https://www.alcoholics-anonymous.org.uk" target="_blank">Alcoholics Anonymous Great Britain</a> - Support with alcohol addiction.</li>
            </ul>

            <h2>Support for Experiencing or Witnessing Violence</h2>
            <h3>US:</h3>
            <ul>
                <li><a href="https://victimsofcrime.org" target="_blank">National Center for Victims of Crime</a> - Navigate support.</li>
            </ul>
            <h3>UK:</h3>
            <ul>
                <li><a href="https://www.victimsupport.org.uk" target="_blank">Victim Support</a> - Free, confidential support for victims of crime in England and Wales at 0808 168 9111.</li>
            </ul>

            <h2>General Wellness and Coping Strategies</h2>
            <h3>US & UK:</h3>
            <ul>
                <li><a href="https://www.headspace.com" target="_blank">Headspace</a> - Mindfulness and meditation resources.</li>
                <li><a href="https://www.calm.com" target="_blank">Calm</a> - Techniques for relaxation and stress management.</li>
            </ul>

            <h2>Legal Assistance</h2>
            <h3>US:</h3>
            <ul>
                <li><a href="https://www.lsc.gov" target="_blank">Legal Services Corporation</a> - Find legal assistance.</li>
            </ul>
            <h3>UK:</h3>
            <ul>
                <li><a href="https://www.citizensadvice.org.uk" target="_blank">Citizens Advice</a> - Free, confidential information and advice on legal rights.</li>
            </ul>

            <h2>Educational Materials</h2>
            <h3>US & UK:</h3>
            <ul>
                <li><a href="https://www.therecoveryvillage.com" target="_blank">The Recovery Village</a> - Educational resources on understanding trauma and addiction.</li>
                <li><a href="https://www.helpguide.org" target="_blank">HelpGuide</a> - A guide to mental health and wellness.</li>
            </ul>

            <p>Our goal is to ensure that all readers have access to the support they need. Whether you're in the US, the UK, or elsewhere, reaching out for help is a courageous step toward healing. If the content of our book has impacted you, we encourage you to utilize these resources.</p>




        </article>
    </div>
</div>



