// Style cards

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}
  
.card:hover {
    transform: translateY(-5px); /* Move the card up on hover */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Enhance shadow on hover */
}


.card-reading-time {
    font-size: 0.9em; /* Adjust font size as needed */
    color: $romance-light-pink; /* Adjust color as needed */
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 5px; /* Add some padding around the text */
    margin-top: 10px; /* Space from the content above */
    .bi-stopwatch-fill {
    margin-right: 5px; /* Adjust this value as needed for spacing */
    }
}