// Styles the categories pages

.category-show__title {
    // Styles titles
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.category-show__description {
    // styles description
    margin-bottom: 2rem;
}

.category-show__sub-title {
    // Style the sub-titles for the categories
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}