// Styles the form

// Styles forms

/* Form */

.form__container {
    /* Styles the form container */
  }
  
  .form__base {
    /* Styles the base form element */
  }
  
  .form__row {
    /* Styles for form rows */
  }
  
  .form__group {
    /* Styles for form groups, typically used for form input and its label */
    margin-bottom: 1rem;
  }
  
  .form__label {
    /* Styles for form labels */
  }
  
  .form__explainer-text {
    /* Styles the explainer text */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  .form__input {
    /* Styles for form inputs */
    margin-bottom: 1rem;
  }
  
  .form__submit {
    /* Styles for submit button */
  }
  
  .form__data-item {
    /* Styles for individual data items, like user metadata */
  }

  // Textarea styling
  textarea.form-control {
    overflow: hidden;
    resize: none; // Prevent manual resizing
  }
    
  // Maximum height for text area
  .form__size_maximum {
    min-width: 100%;
    height: 1000px;
}