// Styling that is used across more than one controller or model

// Styles image to gray when hovered
.image-link {
    background-color: grey;
    display: inline-block;
        
    img.clickable-image {
        transition: opacity 0.3s ease;
            
        &:hover {
            opacity: 0.7;
        }
    }
}

// Shows a row can be dragged and dropped
.draggable-row:hover {
    cursor: grab; /* or 'cursor: move;' depending on your preference */
}

// Makes button_to an inline element
.button_to,
.button_to div {
  display: inline;
}

// Styles the header for pages
.header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

// Styles the navbar

.navbar__logo {
    // styles the logo
    margin-right: 1rem;
}

