// Styles the persona

.persona__title {
    // Styles the persona title
    margin-top: 3rem;
    margin-bottom: 2rem;
}

// STYLES THE SHOW PAGE
.persona-show__content-type {
    // Styles the content type

}

.persona-show__description {
    // Styles the description

}

.persona-show__ai_version {
    // styles the ai version
}

.persona-show__document-link {
    // styles document link

}

.persona-show__document-link-anchor {
    // Stlyes the a
    text-decoration: none;
}

//STYLES THE INDEX PAGE
.persona-index__subtitle {
    // Styles the subtites
}

.persona-index__list-item {
    // Styles list item
    a {
        text-decoration: none;
    }
}


