// Styles the post author pages

.post-author-show__title {
    // Styles titles
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.post-author-show__description {
    // Styles the description
  
}

.post-author-show__image {
    // Styles the image
    margin-bottom: 2rem;
}