<h1>Editing book trope</h1>

<%= render "form", book_trope: @book_trope %>

<br>

<div>
  <%= link_to "Show this book trope", @book_trope %> |
  <%= link_to "Back to book tropes", book_tropes_path %>
</div>
