<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">

    <h1 class="persona__title">Edit <%= @persona.name.titleize %></h1>
    <%= render 'form', persona: @persona %>

  </div>
</div>