<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
  
    <h2 class="persona-index__subtitle">Blog Personas</h2>
    <ul>
      <% @blog_personas.each do |persona| %>
        <li>
          <%= link_to "#{persona.name} (#{persona.version})", persona_path(persona), class: "persona-index__list-item" %>
        </li>
      <% end %>
    </ul>

    <!-- For Book Type Personas -->
    <h2 class="persona-index__subtitle">Book Personas</h2>
    <ul>
      <% @book_personas.each do |persona| %>
        <li>
          <%= link_to "#{persona.name} (#{persona.version})", persona_path(persona), class: "persona-index__list-item" %>
        </li>
      <% end %>
    </ul>

  </div>
</div>