<div class="row justify-content-center">
  <div class="col-lg-8">

    <!-- Header -->
    <div class="post-header">
      <h1 class="post-header__title">Edit <%= @post.title.titleize %></h1>
    </div>

      <!-- form -->
      <div class="post-form">
        <%= render 'form', post: @post %>
      </div>

  </div>
</div>

