<!-- app/views/posts/index.html.erb -->

<h1>All Posts</h1>

<%= link_to 'New Post', new_post_path %>

<% if @published_posts.any? %>
  <ul>
    <% @published_posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Sorry, no posts published</p>
<% end %>

