<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
    <div class="container mt-3">
      <h1 class="mb-4">Categories</h1>
      <%= category_hierarchy(@categories) %>
    </div>

  </div>
</div>


