<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
    <section>

      <h1 class="blog-page-header">Categories</h1>

      <ul>
        <% @categories.each do |category| %>
          <li>
            <%= link_to category.name.titleize, category %>
          </li>
        <% end %>
      </ul>

    </section>
  </div>
</div>


