<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
    <section>

      <h1 class="category-show__title"><%= @category.name %> Articles</h1>

        <% @published_category_posts.each do |post| %>
          
          <!-- Render the tile posts -->
          <%= render partial: 'shared/tile_post', locals: { post: post }%>

        <% end %>

    </section>
  </div>
</div>


