<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <article class="page">

            <h2 class="page__title">Writer Engagements</h2>

            <table class="table">
            <thead>
                <tr>
                <th>Email</th>
                <th>Post Title</th>
                <th>Signed Up On</th>
                </tr>
            </thead>
            <tbody>
                <% @writer_engagements.each do |engagement| %>
                <tr>
                    <td><%= engagement.email %></td>
                    <td><%= engagement.post.title %></td>
                    <td><%= engagement.created_at.strftime("%Y-%m-%d") %></td>
                    <td><%= link_to 'Delete', blog_writer_engagement_path(engagement), method: :delete, data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' }, class: 'btn btn-danger' %></td>
                </tr>
                <% end %>
            </tbody>
            </table>

        </article>
    </div>
</div>