<h1><%= @genre.name %></h1>

<h2>Books with this genre:</h2>
<ul>
  <% @genre.books.each do |book| %>
    <li>
      <%= link_to book.title, publishing_book_path(book) %>
    </li>
  <% end %>
</ul>

