// This is the branding doc for the romance imprint, it is loaded after bootstrap

/* Overides the body */
body {
  color: $romance-black;

  a {
    color: $romance-dark-pink;
    text-decoration: none;
    
    &:hover {
      color: $romance-light-pink;
    }
  }
}

/* Override headings font */
h1, h2, h3, h4, h5, h6 {
  // font-family: 'Cormorant', serif;
  color: $romance-dark-pink;
}

/* weighing for  headers */

.post-show__title, .featured-post__title, .tile-post__title {
  font-weight: 600;
}
.post-show__article {
  h2 {
    font-weight: 600;
  }
}

/* Custom navbar background */
.branded-bg {
  background-color: $romance-light-pink; 
}